{% include 'head.html' %}

<script>(function(w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({'gtm.start':
					new Date().getTime(), event: 'gtm.js'});
		var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
		j.async = true;
		j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-NMXNFM');
</script>



</head>
<body class="english">
    {% include 'header.html' %}
	<iframe src="https://rzp.io/l/BcY5xyQal" style="overflow:hidden; 
    display:block; position: absolute; height: 100%; width: 100%; border: none;" title="description"></iframe>
    <!--<iframe src="https://rzp.io/l/KnDRma2" style="overflow:hidden; 
    display:block; position: absolute; height: 100%; width: 100%; border: none;" title="description"></iframe> -->

</body>
</html>