<header class="continer-fluid ">
    <div  class="header-top">
        <div class="container">
            <div class="row col-det">
                <div class="col-lg-6 d-none d-lg-block">
                    <ul class="ulleft">
                        <li>
                            <i class="far fa-envelope"></i>
                            sales@prachesta.com
                            <span>|</span></li>
                        <li>
                            <i class="fas fa-phone-volume"></i>
                            +91 702 296 4222</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 folouws">
                    <ul class="ulright">
                       <li> <small>Folow Us </small>:</li>
                        <li>
                            <i class="fab fa-facebook-square"></i>
                        </li>
                        <li>
                            <i class="fab fa-twitter-square"></i>

                        </li>
                        <li>
                            <i class="fab fa-instagram"></i>
                        </li>
                        <li>
                            <i class="fab fa-linkedin"></i>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 d-none d-md-block col-md-6 btn-bhed">
                    <a class="btn btn-sm btn-default" href="/joinUs/">Join Us</a>
                    <a class="btn btn-sm btn-success" href="/donate/">Donate</a>
                    <!--<a class="btn btn-sm btn-default">
                        <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_KllzdFnGJy9jiz" async> </script></form>
                        <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Kll3PZz3JUKz3s" async> </script>
                    </a>-->

                </div>
            </div>
        </div>
    </div>
    <div id="menu-jk" class="header-bottom">
        <div class="container">
            <div class="row nav-row">
                <div class="col-lg-3 col-md-12 logo">
                    <a href="index.html">
                        <img src="/static/images/logo.png" alt="">
                        <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-lg-none  small-menu fa-bars"></i></a>
                    </a>

                </div>
                <div id="menu" class="col-lg-9 col-md-12 d-none d-lg-block nav-col">

                            <ul class="navbad">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home
                                    </a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/know_prachesta/">know Prachesta</a>
                                        <a class="dropdown-item" href="#">Leaderships</a>
                                        <a class="dropdown-item" href="/our_people/">Our People</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Campaigns</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Mission Prakriti</a>
                                        <a class="dropdown-item" href="#">Covid Care</a>
                                        <a class="dropdown-item" href="#">Chalein Sath Sath</a>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Achievements
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% for list_item in dirLists %}
                                        <a class="dropdown-item" href="/load_gallery_{{ list_item }}" > {{ list_item }} </a>

                                        {% endfor %}
                                    </div>

                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="blog.html">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contactUs/">Contact US</a>
                                </li>




                            </ul>


                </div>
            </div>
        </div>
    </div>
</header>